
<div class="card-body">
<div class="row" style="color:white;">
  <div class="col-md-4">
    <% if  @question.image.url %>
    <%=  image_tag @question.image.url  %>
    <% end %>
  </div>
  <div class="col-md-8">
    <p class="card-text">
      <strong>Title:</strong>
    <%= @question.title %>
    </p>
    <p class="card-text">
      <strong>Content:</strong>
      <%= @question.content %>
    </p>
    <p class="card-text">
      <strong>User:</strong>
      <%= @question.user.email %>
    </p>
  </div>
</div>
</div>