
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('/assets/auca.jpg')">
  <div class="col-lg-8">
  <div class="hs-subtitle">Award Winning UNIVERSITY</div>
  <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
  <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
  <div class="site-btn">GET STARTED</div>
</div>

    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('/assets/draduant3.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Graduate as soon as Possible</h2>
        <p class="lead">No more Lack of awareness every thing is here</p>
  </div>
    </div>
   
    <div class="carousel-item" style="background-image: url('/assets/studentstuying.jpg')">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="display-4"></h2>
      <p class="lead"></p>
    </div>
  </div>
  <!-- Slide Three - Set the background image for this slide in the line below -->
  <div class="carousel-item" style="background-image: url('/assets/masoro.jpg')">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="display-4">Work together and improve your skills</h2>
      <p class="lead">Coming together is a beginning. Keeping together is progress. Working together is success</p>
    </div>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
<section class="counter-section">
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-6">
      <div class="big-icon">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <div class="counter-content">
        <h2>NEXT COUSRE: Sales & Marketing Alignment</h2>
        <p><i class="fa fa-calendar-o"></i>07:00 PM - 09:00 PM</p>
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div class="counter">
        <div class="counter-item"><h4>20</h4>Days</div>
        <div class="counter-item"><h4>08</h4>Hrs</div>
        <div class="counter-item"><h4>40</h4>Mins</div>
        <div class="counter-item"><h4>56</h4>secs</div>
      </div>
    </div>
  </div>
</div>
</section>


<!-- Courses section -->
<section class="courses-section spad">
  <div class="container">
    <div class="section-title text-center">
      <h3>RECENT QUESTIONS</h3>
      <p>Building a better world</p>
    </div>
    <div class="row">
      <!-- course item -->
      <% Question.last(5).each do |question| %>
      <div class="col-lg-4 col-md-6 course-item">
        <div class="course-thumb">
        <% if question.image.url %>
        <%=  image_tag question.image.url%>
        <% end %>
          <div class="course-cat">
            <span><%= question.title %></span>
          </div>
        </div>
        <div class="course-info">
          <div class="date"><i class="fa fa-clock-o"></i><%= question.created_at %> </div>
          <h4><%= question.content %></h4>
        </div>
      </div>
      <% end %>
      </div>
      </div>
      <!-- course item -->         
</section>





