                                    /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally bette2
 */
                                    
                                    body {
                                        width: 100%;
                                        /* background-image: url('adventist.jpg') */
                                    }
                                    
                                    h2 {
                                        margin-bottom: 4rem;
                                    }
                                    
                                    .side-nav {
                                        position: fixed !important;
                                        margin-top: 3rem;
                                    }
                                    
                                    .content {
                                        margin-left: 20rem
                                    }
                                    
                                    .image {
                                        border: 1px solid #ddd;
                                        border-radius: 4px;
                                        padding: 5px;
                                        width: 150px;
                                    }
                                    
                                    .profil {
                                        border: 1px solid #ddd;
                                        border-radius: 50px;
                                        padding: 5px;
                                        width: 50px;
                                    }
                                    
                                    .round {
                                        border-radius: 50%;
                                        padding: 5px;
                                        width: 50px;
                                    }
                                    
                                    .question {
                                        text-align: center;
                                        margin-right: 250px;
                                        margin-left: 250px;
                                    }
                                    
                                    .login {
                                        text-align: center;
                                        margin-right: 35rem;
                                        margin-left: 35rem;
                                        margin-top: 50px;
                                    }
                                    
                                    .input-group {
                                        width: 70%;
                                        margin-left: 4rem;
                                    }
                                    
                                    h1 {
                                        text-align: center;
                                        color: white
                                    }
                                    
                                    .course {
                                        background-color: white !important
                                    }
                                    
                                    .background {
                                        background: #1B447A !important;
                                    }
                                    
                                    .carousel-item {
                                        height: 100vh;
                                        min-height: 350px;
                                        background: no-repeat center center scroll;
                                        -webkit-background-size: cover;
                                        -moz-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover;
                                    }
                                    
                                    .appbody {
                                        background: url('adventist.jpg') no-repeat center center fixed;
                                        -moz-background-size: cover;
                                        -webkit-background-size: cover;
                                        -o-background-size: cover;
                                        background-size: cover;
                                    }
                                    
                                    .navbar navbar-expand {
                                        /* position: fixed; */
                                        overflow: hidden;
                                    }
                                    
                                    .left {
                                        color: white
                                    }
                                    
                                    .field {
                                        margin-bottom: 15px
                                    }
                                    
                                    .card {
                                        background-color: #1B447A
                                    }
                                    
                                    .footer {
                                        position: fixed;
                                        left: 0;
                                        bottom: 0;
                                        width: 100%;
                                        background-color: #1B447A;
                                        color: white;
                                        text-align: center;
                                    }
                                    
                                    .otherscard {
                                        text-align: center;
                                        margin-right: 300px;
                                        margin-left: 300px;
                                        margin-top: 10%;
                                    }
                                    
                                    .card-body {
                                        margin-right: 10px;
                                        margin-left: 10px;
                                    }
                                    
                                    .comment {
                                        text-align: center;
                                        margin-right: 300px;
                                        margin-left: 300px;
                                        margin-top: 10%;
                                    }
                                    
                                    *,
                                    *:before,
                                    *:after {
                                        box-sizing: inherit;
                                    }
                                    
                                    html {
                                        box-sizing: border-box
                                    }
                                    
                                    .navbar {
                                        /* position: fixed !important; */
                                        width: 100%;
                                        height: auto;
                                        overflow: hidden;
                                    }
                                    
                                    .wrapper {
                                        display: flex;
                                        align-items: stretch;
                                    }
                                    
                                    #sidebar {
                                        min-width: 250px;
                                        max-width: 250px;
                                        min-height: 100vh;
                                    }
                                    
                                    #sidebar.active {
                                        margin-left: -250px;
                                    }
                                    
                                    a[data-toggle="collapse"] {
                                        position: relative;
                                    }
                                    
                                    .dropdown-toggle::after {
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                        transform: translateY(-50%);
                                    }
                                    
                                    @media (max-width: 768px) {
                                        #sidebar {
                                            margin-left: -250px;
                                        }
                                        #sidebar.active {
                                            margin-left: 0;
                                        }
                                    }
                                    
                                    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
                                    body {
                                        font-family: 'Poppins', sans-serif;
                                        background: #fafafa;
                                    }
                                    
                                    p {
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 1.1em;
                                        font-weight: 300;
                                        line-height: 1.7em;
                                        color: #999;
                                    }
                                    
                                    a,
                                    a:hover,
                                    a:focus {
                                        color: inherit;
                                        text-decoration: none;
                                        transition: all 0.3s;
                                    }
                                    
                                    #sidebar {
                                        /* don't forget to add all the previously mentioned styles here too */
                                        background: #64b2cd;
                                        color: #fff;
                                        transition: all 0.3s;
                                    }
                                    
                                    #sidebar .sidebar-header {
                                        padding: 20px;
                                        background: #64b2cd;
                                    }
                                    
                                    #sidebar ul.components {
                                        padding: 20px 0;
                                        border-bottom: 1px solid #64b2cd;
                                    }
                                    
                                    #sidebar ul p {
                                        color: #fff;
                                        padding: 10px;
                                    }
                                    
                                    #sidebar ul li a {
                                        padding: 10px;
                                        font-size: 1.1em;
                                        display: block;
                                    }
                                    
                                    #sidebar ul li a:hover {
                                        color: #7386D5;
                                        background: #fff;
                                    }
                                    
                                    f #sidebar ul li.active>a,
                                    a[aria-expanded="true"] {
                                        color: #fff;
                                        background: #6d7fcc;
                                    }
                                    
                                    ul ul a {
                                        font-size: 0.9em !important;
                                        padding-left: 30px !important;
                                        background: #64b2cd;
                                    }
                                    
                                    .wrapper {
                                        display: flex;
                                        align-items: stretch;
                                    }
                                    
                                    #sidebar {
                                        min-width: 250px;
                                        max-width: 250px;
                                        min-height: 100vh;
                                    }
                                    
                                    #sidebar.active {
                                        margin-left: -250px;
                                    }
                                    
                                    a[data-toggle="collapse"] {
                                        position: relative;
                                    }
                                    
                                    .dropdown-toggle::after {
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                        transform: translateY(-50%);
                                    }
                                    
                                    @media (max-width: 768px) {
                                        #sidebar {
                                            margin-left: -250px;
                                        }
                                        #sidebar.active {
                                            margin-left: 0;
                                        }
                                    }
                                    
                                    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
                                    body {
                                        font-family: 'Poppins', sans-serif;
                                        background: #fafafa;
                                    }
                                    
                                    p {
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 1.1em;
                                        font-weight: 300;
                                        line-height: 1.7em;
                                        color: #999;
                                    }
                                    
                                    a,
                                    a:hover,
                                    a:focus {
                                        color: inherit;
                                        text-decoration: none;
                                        transition: all 0.3s;
                                    }
                                    
                                    #sidebar {
                                        /* don't forget to add all the previously mentioned styles here too */
                                        background: #7386D5;
                                        color: #fff;
                                        transition: all 0.3s;
                                    }
                                    
                                    #sidebar .sidebar-header {
                                        padding: 20px;
                                        background: #6d7fcc;
                                    }
                                    
                                    #sidebar ul.components {
                                        padding: 20px 0;
                                        border-bottom: 1px solid #47748b;
                                    }
                                    
                                    #sidebar ul p {
                                        color: #fff;
                                        padding: 10px;
                                    }
                                    
                                    #sidebar ul li a {
                                        padding: 10px;
                                        font-size: 1.1em;
                                        display: block;
                                    }
                                    
                                    #sidebar ul li a:hover {
                                        color: #7386D5;
                                        background: #fff;
                                    }
                                    
                                    #sidebar ul li.active>a,
                                    a[aria-expanded="true"] {
                                        color: #fff;
                                        background: #6d7fcc;
                                    }
                                    
                                    ul ul a {
                                        font-size: 0.9em !important;
                                        padding-left: 30px !important;
                                        background: #6d7fcc;
                                    }
                                    
                                    .button {
                                        margin-left: 350px;
                                        margin-right: 350px;
                                        margin-top: 10px;
                                    }
                                    
                                    .item {
                                        margin-top: 15px;
                                    }
                                    
                                    .icon {
                                        margin-top: -2.4rem;
                                        margin-left: 14rem;
                                    }
                                   